name: integration test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3

      - name: Setup Go
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4
        with:
          go-version: "1.20"

      - name: Run action on tidy module
        uses: ./
        with:
          modules: ./testdata/tidy/module3

      - name: Run action on untidy module
        id: should-fail-1
        continue-on-error: true
        uses: ./
        with:
          modules: ./testdata/untidy/module2

      - name: Check previous step failed
        if: steps.should-fail-1.outcome != 'failure'
        shell: bash
        run: |
          echo "Previous step should have failed"
          exit 1

      - name: Run action on untidy module with submodules
        id: should-fail-2
        continue-on-error: true
        uses: ./
        with:
          modules: ./testdata/untidy/module1
          submodules: true

      - name: Check previous step failed
        if: steps.should-fail-2.outcome != 'failure'
        shell: bash
        run: |
          echo "Previous step should have failed"
          exit 1

      - name: Run action on untidy module with submodules and go.work
        id: should-fail-3
        continue-on-error: true
        uses: ./
        with:
          modules: ./testdata/untidy/module3
          submodules: true

      - name: Check previous step failed
        if: steps.should-fail-3.outcome != 'failure'
        shell: bash
        run: |
          echo "Previous step should have failed"
          exit 1
